/* styles.css */

img {
  height: auto;
  width: 600px;
}

h1,
h2 {
  color: white;
}
h1 {
  background-color: rgb(156, 8, 8);
  text-align: center;
  font-size: 36px;
}
h2 {
  background-color: black;
  font-size: 28px;
}